/*
 * CSS for T-Rax
 */

html, body {
    width: 431px;
    height: 365px;
    margin: 0;
    padding: 0;
    background-color: green;
}

#container {
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    background-color: #60B3B3;
}

div.tag_centered {
    position: fixed;
    width: 120px;
    height: 28px;
    text-align: center;
    color: black;
    font-size: 13px;
}

div.tag_right {
    position: fixed;
    width: 120px;
    height: 28px;
    text-align: right;
    color: black;
    font-size: 13px;
}

div.title_bar {
    position: fixed;
    width: 429px;
    height: 18px;
    line-height: 18px;
    border: 0px;
    padding: 1px;
    background-color: #B3B3FF;
    text-align: center;
    color: #0B00FF;
    font-size: 16px;
}

div.indicator_wide {
    position: fixed;
    width: 100px;
    height: 28px;
    line-height: 28px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 1px;
    border-color: #B3DADA;
    background-color: yellow;
    text-align: center;
    color: red;
    font-size: 16px;
}

div.indicator_button_wide {
    position: fixed;
    width: 100px;
    height: 28px;
    line-height: 28px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 1px;
    border-color: #B3DADA;
    background-color: yellow;
    text-align: center;
    color: red;
    font-size: 16px;
    cursor: pointer;
}

div.indicator_button_wide:hover {
    border: 2px solid #888888;
    padding: 0px;
}

div.indicator_narrow {
    position: fixed;
    width: 40px;
    height: 28px;
    line-height: 28px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 1px;
    border-color: #B3DADA;
    background-color: yellow;
    text-align: center;
    color: red;
    font-size: 16px;
}

/* Text area: 32 wide x 3 tall */
div.notice_box {
    position: fixed;
    width: 188px;
    height: 40px;
    line-height: 14px;
    border: 1px solid white;
    padding: 3px;
    border-color: #B3DADA;
    background-color: yellow;
    text-align: left;
    color: #black;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 14px;
}

/* Ticker box along the bottom */
div.ticker_box {
    position: fixed;
    width: 420px;
    height: 14px;
    line-height: 14px;
    text-align: right;
    color: #black;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 14px;
    cursor: pointer;
}

div.button_normal {
    position: fixed;
    width: 50px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #B3DADA;
    border-radius: 12px;
    border-color: 
    padding: 1px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

div.button_normal:hover {
    border: 2px solid #888888;
    padding: 0px;
}

.red {
    background-color: #FF0800;
    color: yellow;
    border-radius: inherit;
}

.green {
    background-color:#00FF00;
    color:black;
    border-radius: inherit;
}

div.button_start_stop {
    position: fixed;
    width: 75px;
    height: 45px;
    line-height: 24px;
    border: 1px solid #B3DADA;
    border-radius: 12px;
    padding: 10px;
    background-color: #00FF00;
    text-align: center;
    color: #0B00FF;
    font-size: 20px;
    cursor: pointer;
}

div.button_start_stop:hover {
    border: 2px solid #888888;
    padding: 9px;
}

div.button_emergency_stop {
    position: fixed;
    width: 100px;
    height: 38px;
    line-height: 18px;
    border: 1px solid #B3DADA;
    border-radius: 12px;
    padding: 2px;
    background-color: #FF0800;
    text-align: center;
    color: yellow;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
}

div.button_emergency_stop:hover {
    border: 2px solid #888888;
    padding: 1px;
}




/* The password modal takes over the whole trax window */
/* cobbled from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header {
  background-color: #B3B3FF;
  color: purple;
  margin: auto;
  padding: 2px;
  height: 24px;
  line-height: 24px;
  border: 1px solid #888;
  width: 80%;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 2px;
  height: 54px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
}

/* The Close Button */
.close {
  color: #888888;
  float: right;
  font-size: 24px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
