<!DOCTYPE html>
<html>
    <head>
        <title>T-Rax: The RFO Roof Controller</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='trax.css') }}" type="text/css" />
        <script type="text/javascript" src="{{ url_for('static', filename='trax.js') }}"></script>
    </head>

    <body>

        <div id="container">

            <div class="title_bar" id="title_bar" style="top:0px; left:0px">&nbsp;T-Rax &mdash; RFO EAST WING ROOF CONTROL</div>

            <div class="tag_centered" style="top:30px; left:50px">ROOF POSITION</div>
            <div class="indicator_wide" id="roof_position" style="top:46px; left:60px">UNKNOWN</div>

            <div class="tag_centered" style="top:100px; left:50px">MOUNT POSITION</div>
            <div class="indicator_button_wide" id="mount_position" style="top:116px; left:60px" onClick="doSend('/checkmnt')">UNKNOWN</div>

            <div class="tag_centered" style="top:170px; left:50px">POWER STATUS</div>
            <div class="tag_right" style="top:198px; left:0px">BUILDING PWR</div>
            <div class="indicator_narrow" id="building_pwr" style="top:190px; left:125px">UNK</div>

            <div class="tag_right" style="top:248px; left:0px">ROOF PWR</div>
            <div class="indicator_narrow" id="roof_pwr" style="top:240px; left:125px">UNK</div>

            <div class="tag_right" style="top:298px; left:0px">MOUNT PWR</div>
            <div class="indicator_narrow" id="mount_pwr" style="top:290px; left:125px">UNK</div>

            <div class="notice_box" id="notice" style="top:28px; left:220px">
                ======================<br/>
                = Connecting to TRax =<br/>
                ======================<br/>
            </div>

            <div class="tag_right" style="top:96px; left:175px; font-size:17px">Roof Power</div>
            <div class="button_normal" id="roof_pwr_on" style="top:86px; left:300px" onClick="doSend('/roofpwr?on')"><div class="green">ON</div></div>
            <div class="button_normal" id="roof_pwr_off" style="top:86px; left:365px" onClick="doSend('/roofpwr?off')"><div class="red">OFF</div></div>

            <div class="tag_right" style="top:146px; left:175px; font-size:17px">Mount Power</div>
            <div class="button_normal" id="mount_pwr_on" style="top:136px; left:300px" onClick="doSend('/mountpwr?on')"><div class="green">ON</div></div>
            <div class="button_normal" id="roof_pwr_off" style="top:136px; left:365px" onClick="doSend('/mountpwr?off')"><div class="red">OFF</div></div>

            <div class="button_start_stop" id="start_stop" style="top:195px; left:265px" onClick="doSend('/startstop')">START STOP</div>
            <div class="button_emergency_stop" id="emergency_stop" style="top:280px; left:260px" onClick="doSend('/STOP')">EMERGENCY STOP</div>

            <div class="ticker_box" id="ticker" style="top:345px; left:230px" onClick="doSend('/override')">Tick Tock</div>
        </div>

    </body>
</html>
